{% set python2 = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'python',
        'dev_pkg': 'python-dev',
        'mako_pkg': 'python-mako',
        'nose2_pkg': 'nose2==0.4.7',
        'nose2_cov_pkg': 'nose2-cov==1.0a4',
        'pip_pkg': 'python-pip',
    },
}, merge=salt['pillar.get']('python2:lookup')) %}

{% set python3 = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'python3',
        'dev_pkg': 'python3-dev',
        'mako_pkg': 'python3-mako',
        'nose2_pkg': 'nose2==0.5.0',
        'nose2_cov_pkg': 'nose2-cov==1.0a4',
        'pip_pkg': 'python3-pip',
    },
}, merge=salt['pillar.get']('python3:lookup')) %}
