# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
nose2-junit.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Packer Files / Support
*.exe
*.iso
bin/packer
packer/output/
config/aws-credentials

# Private Files
*.pem
*.ppk
vault/private/

# Personal Vagrant files
.vagrant/
.DS_Store

# PyCharm Stuff
.idea/

# Vim Swap Files
.*.swp

# Scylr
config/set_scalyr_vars.sh
*/scalyr-cfg.json
salt_stack/pillar/scalyr.sls

# Keycloack Stuff
salt_stack/salt/keycloak/files/keycloak-*Final.tar.gz

# pyminifier 
*.min.py

# Boss Set Vars
config/set_vars_*.sh
config/my_vars.sh

# CloudFormation Templates
cloud_formation/templates/
cloud_formation/configs/dynamo_config.template

/config/aws-credentials-prod
/config/aws-credentials-dev
