boto3>=1.4.3
botocore>=1.4.93
PyYaml
hvac==0.6.0 #Pinned due to is_initialized call to check vault status being deprecated. Check: https://hvac.readthedocs.io/en/stable/source/hvac_v1.html
mysql-connector-python
pyminifier
funcparserlib
iso8601
colorama
jsonschema
