# Bare minimum config file for testing.

[system]
fqdn = ep-jenkins.jhuapl.edu

[aws]
meta-db = foo
cache = foo
cache-state = foo
cache-db = 0
cache-state-db = 0

cuboid_bucket = cuboids.jenkins.boss
ingest_bucket = ingest.jenkins.boss
tile_bucket = tile.jenkins.boss
s3-index-table = s3index.jenkins.boss
id-index-table = idIndex.jenkins.boss
id-count-table = idCount.jenkins.boss
tile-index-table = tileIndex.jenkins.boss
s3-flush-queue = foo
s3-flush-deadletter-queue = foo
sns-write-locked = foo

[lambda]
page_in_function = foo
flush_function = foo
ingest_function = foo

[sfn]
populate_upload_queue = IngestPopulateJenkinsBoss
upload_sfn = IngestUploadJenkinsBoss
downsample_sfn = DownsampleJenkinsBoss

