#
# BOSS Configuration File
# Defines BOSS instance configuration information
#

EXTERNAL_DOMAIN = "external.tld" # External domain and Route53 Hosted Zone
EXTERNAL_FORMAT = "{machine}" # (Optional) allows names like api-integration.external.tld
INTERNAL_DOMAIN = "internal.tld"
NETWORK = "10.0.0.0/16" # (Optional) Network allocation for VPC
SUBNET_CIDR = 24 # (Optional) CIDR for each subnet in VPC

AMI_SUFFIX = ".tld"
AMI_VERSION = "latest" # (Optional) The default AMI version to use if --ami-version is not used with cloudformation.py
SCENARIO = "" # (Optional) The default scenario to use if --scenario is not used with cloudformation.py

VERIFY_SSL = True # (Optional) False if using a self-signed cert
AUTH_RDS = False # If Keycloak will use an external database. Cannot update unless True

# Lambda build server variables
LAMBDA_BUCKET = None
LAMBDA_SERVER = None
LABMDA_SERVER_KEY = None

REGION = "us-east-1"
AVAILABILITY_ZONE_USAGE = { # Used to limit subnet usage for specific resources where AWS has issues
                            # See test/availability_zones/ scripts for testing an account for problem AZs
    'lambda': ['b', 'c', 'd', 'e', 'f'], # NOTE: AZ labels are not static across accounts in the same region
    'asg': ['b', 'c', 'd', 'e', 'f'], # Same as lambda
    # Dev dont' use 'a'
    # Prod don't use 'c'
}

ACCOUNT_ID = 123456789
PROFILE = None # (Optional) Name of the Boto3 profile to use for AWS credentials
               #            Set to None / don't provide to use the Boto3 defaults

# (Optional) Define an output bastion machine authenticated via SSH private key
OUTBOUND_BASTION = False
OUTBOUND_IP = "0.0.0.0"
OUTBOUND_PORT = 22
OUTBOUND_USER = "ec2-user"
OUTBOUND_KEY = "bastion-key" # only keypair name

HTTPS_INBOUND = "0.0.0.0/0" # (Optional) Network CIDR of traffic allowed for HTTPS
SSH_INBOUND = "0.0.0.0/32" # Network CIDR of traffic allowed for SSH
                           # Should include the OUTBOUND_IP if used
SSH_KEY = "stack-key" # only keypair name

BILLING_TOPIC = "BossBillingList" # (Optional) SNS topic for receiving billing cost alerts
BILLING_THRESHOLDS = "range(1000, 100001, 1000)" # (Optional) Required if creating billing alerts
                                                  # Example creates alarms every $1,000 upto $100,000
                                                  # You can also use "[10000, 50000, 100000]" if you only want a few alert levels
BILLING_CURRENCY = "USD" # (Optional) Currency that the threasholds are set for

ALERT_TOPIC = "BossMailingList" # (Optional) SNS topic for receiving alerts or error messages from a running Boss process

# cloudformation configs - add verify command for post create / update
# cloudformation.py allow passing multiple configs
# dependency graph for parallel operations?
