#
# BOSS Compose File
# Used to launch BOSS using multiple BOSS Configuration Files
#

BOSS_NAME = "display name" # Display name used by bin/config

BOSS_CONFIGS = {
    "cf_config": "boss_config",
    "default": "boss_config",
}
