# Values in the scenario file will override / add new variables to the values
# in lib/constants.py


# Instance types
ENDPOINT_TYPE:       # EC2 Instance Type
RDS_TYPE:            # RDS Instance Type
REDIS_CACHE_TYPE:    # ElastiCache Instance Type
REDIS_SESSION_TYPE:  # ElastiCache Instance Type
REDIS_TYPE:          # ElastiCache Instance Type
CACHE_MANAGER_TYPE:  # EC2 Instance Type
ACTIVITIES_TYPE:     # EC2 Instance Type
VAULT_TYPE:          # EC2 Instance Type
AUTH_TYPE:           # EC2 Instance Type


# Cluster / ASG sizes
AUTH_CLUSTER_SIZE:    # Fixed Size Auto Scale Group (ASG)
VAULT_CLUSTER_SIZE:   # Fized Size ASG
ENDPOINT_CLUSTER_MIN: # Minimum Size of ASG
ENDPOINT_CLUSTER_MAX: # Maximum Size of ASG
REDIS_CLUSTER_SIZE:   # ElastiCache Redis Replicas

# Memory Size
REDIS_RESERVED_MEMORY_PERCENT: 25 # ElastiCache Redis Percentage of Memory that is Reserved Memory (recommended to be 25%)
